<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Jobs</h5>
                        <p class="card-text">Explore available job opportunities.</p>
                        <a href="/jobs" class="btn btn-primary">Go to Jobs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Candidates</h5>
                        <p class="card-text">View and manage candidate profiles.</p>
                        <a href="/candidates/list" class="btn btn-primary">Go to Candidates</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</br>
</br>
</br>
<h1 style="text-align: center;"> WWW_WEEK5_TranThiMinhHuyen</h1>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
